<html>

<head>
<title>Getting Started with R - Course Outline</title>
<link rel="stylesheet" type="text/css" href="stylesheet.css">

</head>

<body>

<h1>Getting started with R</h1>

<p>This course is designed to give you a brief(ish) introduction to the statistical programming environment R. This is not a course on which statistics to use and why, it is primarily concerned with getting you started with the R language, and as such assumes a basic levels of statistical knowledge.</p>

<p>That said, the examples will be easy to follow from Mick Crawley's seminal text 'The R Book' - hence more detail is available in this text. There are two copies of this text in the library, and it is available in <a href="https://unicorn.dmz.cranfield.ac.uk/uhtbin/cgisirsi/?ps=UKq22B28cB/CRANFIELD/175830315/2/1000">eBook format</a>. Note, all the examples in this course come from the first edition of 'The R Book' - the one with the blue cover!</p>

<h2>Course materials</h2>

<p id="p2">All the course materials for this course have been written in html and are made available online. This is so that you have a permanent repository for your notes, but also because it is very easy to combine html with R code using R Studio <a href="#footnote-1">[1]</a>.

<p>Additional help can be accessed by joining the <a href="https://mailman.cranfield.ac.uk/mailman/listinfo/cranfield-r">Cranfield R mailing list</a> (you will need to do this from a computer which is physically on the campus network). the list allows you to email your specific queries to a group of R users, who will be able to help you with your query. More on getting help below...</p>

<h2>Structure</h2>

<p>The course is divided into three sections, with two breaks in between. The basic of structure of the course is as follows:</p>

<ul>
<li>Getting started</li>
     <ul>
     <li>The R 'environment'</li>
     <li>R Studio</li>
     <li><a href="r_style_guide.html">R style</a></li>
     <li><a href="installing_R_packages.html">Installing R packages</a></li>
     <li><a href="getting_data_into_R.html">Getting data into R</a></li>
     <li><a href="selecting_data.html">Selecting Data</a></li>
     <li><a href="data_structures.html">Data structures and types</a></li>
     <li><a href="writing_functions.html">Writing functions</a></li>
     </ul>
<li>Visualising your data</li>
     <ul>
     <li><a href="R-base_graphics.html">R-base graphics</a></li>
          <ul>
          <li><a href="scatterplots.html">Scatter-plots</a></li>
          <li><a href="histograms.html">Histograms and Box and whisker plots</a></li>
          <!--<li><a href="the_par_command.html">The 'par' command</a></li>//-->
          <li><a href="multiple_plots.html">Multiple plots</a></li>
          </ul>
     </ul>
<li>Basic data analysis</li>
     <ul>
     <li>T-test</li>
     <li>Linear regression</li>
          <ul>
          <li>Model simplification</li>
          </ul>
     <li>ANOVA</li> <!--# See NPK!//-->
     <li>Multiple comparison tests</li>
     </ul>
<li>Using your own data - Q&A</li>
</ul> 

<p>Within each section you will have a number of exercises to complete. You will be able to copy and paste the code from the html file, but I recommend that you also read the code completely and try to understand what it is you are doing! One of the major strengths of using R, is that it is 'transparent' you can see at every stage what it is that the code is doing - if you want to!</p>

<p>At the end of the course (depending on time) there will be an opportunity for you to use R with your own data, and get help with your first steps to analysing your data in R.</p>

<h2>Getting help after the course</h2>

<p>Getting help with R is very easy - there is a thriving online community of R users who, so the chances are that if you have a problem, someone else will have posted a solution online before you.</p>

<h3>Within R</h3>

<p>It is possible to get help in R itself. If you are interested in a function, you can simply type the name of that function into the console preceded by a question mark. This will bring up the relevant help file - although they are not always that easy to decipher!</p>

<h3>Online guides</h3>

<p>There are also many online guides available - googling 'R guide' will reveal many, but three are listed below:</p>

<ul>
<li><a href="http://www.rstudio.com/ide/docs/help_with_r
">http://www.rstudio.com/ide/docs/help_with_r
</a></li>
<li><a href="http://cran.r-project.org/doc/contrib/Owen-TheRGuide.pdf
">http://cran.r-project.org/doc/contrib/Owen-TheRGuide.pdf
</a></li>
<li><a href="https://sites.google.com/site/undergraduateguidetor/
">https://sites.google.com/site/undergraduateguidetor/
</a></li>
</ul>

<h3>Forums</h3>

<p>Forums are a great place for R help - again try googling this, although one of the most well known is: <a href="http://stats.stackexchange.com/
">http://stats.stackexchange.com/
</a>. Just make sure you read the rules of the forum carefully, as contributors often don't take kindly to poorly stated questions!</p>

<h3>Mailing lists</h3>

<p>Mailing lists are perhaps the most important way of getting help with R, as they allow you to get in touch with the creator of the respective packages that you are using. Google the name of the package you want help with along with 'mailing list', and you will usually find results.</p>

<p>There is also a generic mailing list for R (<a href="https://mailman.cranfield.ac.uk/mailman/listinfo/cranfield-r
http://www.r-project.org/mail.html
">https://mailman.cranfield.ac.uk/mailman/listinfo/cranfield-r
http://www.r-project.org/mail.html
</a>.</p>

<h3>And most importantly...</h3>

<p><em>Cranfield has its own R mailing list!</em> To join the Cranfield R mailing list (which you can only do while you are on campus) visit <a href="https://mailman.cranfield.ac.uk/mailman/listinfo/cranfield-r
">https://mailman.cranfield.ac.uk/mailman/listinfo/cranfield-r
</a> and follow the instructions.</p>

<!--http://www.bio.ic.ac.uk/research/mjcraw/therbook/data/-->

<br><br>
<hr>

<p id="footnote-1">[1] This is beyond the scope of the short course you are doing, but if you have questions about combining R script with html or into word or LaTeX documents like a thesis or paper, please ask. <a href="#p2">Return to paragraph</a></p>

</body>

</html>
