<html>

<head>
<title>Installing R Packages</title>
<link rel="stylesheet" type="text/css" href="stylesheet.css">
</head>

<body>

<h1>Installing R packages</h1>

<p>One of the strengths of R is that there are literally thousands of packages available for you to extend to core capabilities if the R statistical environment. You may one day even with to write your own packages.</p>

<p>Downloading and installing packages is a very simple procedure in R and can be done with a single line of code -- You will probably do this a lot!</p>

<p>Int his instance, we specify the repository from which we will download the package - if you omitted <tt>repos=""</tt> then you would be asked to select a repository from a list. Rstudio's mirror is hosted by amazon, and hence, is pretty fast - so we'll use that one.</p>

<!--begin.rcode,eval=FALSE,tidy=FALSE

# Note that this may throw up a warning message

install.packages(
     'agricolae', 
     repos="http://cran.rstudio.com/"
     )
end.rcode-->

<p>R will then download the package and install it in the relevant directory.</p>

<p>In order to use the package you need to call the package using <tt>library</tt>. This may or may not generate a message or warning.</p>

<!--begin.rcode, eval=FALSE
library(agricolae)
end.rcode-->

<p>If you wanto to suppress warnings (for instance if you wish to call a package from within a function) you can also <tt>require</tt>:</p>

<!--begin.rcode, eval=FALSE
require(agricolae)
end.rcode-->

<p>Note that you will need to call the package with <tt>library</tt> or <tt>require</tt> every time you run a new instance of R. Running the <tt>install.packages</tt> command will also update a package to the latest available version.</p>

</body>
</html>
