<html>

<head>
<title>Getting Started with R - R Studio</title>
<link rel="stylesheet" type="text/css" href="stylesheet.css">

</head>

<body>

<a class="next" href="R_environment.html">Previous...The <tt>R</tt> environment</a>

<br><hr class="ex1"><br>

<h1>R Studio</h1>

<br><hr class="ex1"><br>

<a class="next" href="installing_R_packages.html">Next...Installing R packages</a>


</body>

</html>
