<html>

<head>
<title>Getting Started with R - R Studio</title>
<link rel="stylesheet" type="text/css" href="stylesheet.css">

</head>

<body>

<table align="center" width="80%">
<tr>
<td class="next"><a href="R_environment.html">Previous</a></td>
<td class="next"><a href="index.html">Course Overview</a></td>
<td class="next"><a href="r_style_guide.html">Next</a></td>
</tr>
</table>

<br><hr class="ex1"><br>

<h1>RStudio</h1>

<p>Great as I think <tt>R</tt> is, it has a pretty basic interface that can be quite awkward to work with. it can be vastly improved by installing the program <tt>R</tt> studio, which is a free wrapper to <tt>R</tt>, creating an interface somewhat similar to Matlab.</p>

<p>We get the usual console, scripting, and plotting windows, as in the standard R environment, and a lot more...</p>

<img src="screenshots/plotTab.png" style="width: 90%;">


<h2 style="padding-top: 50px;">Projects</h2>

<p>One of the really useful things about RStudio, is that it allows us to create 'projects' for each of our individual R tasks. This is basically just a folder that  contains all the data, scripts, ourput plots, etc that you produce. Sounds simple - but  really helps to keep things organised. See below for how to create...</p>

<img src="screenshots/createProject.png">

<h2 style="padding-top: 50px;">Workspace, History, Git</h2>

<p style="padding-top: 20px;padding-bottom: 10px;">The top right window offers us expanded functionality over the standard R environment. Seen in the montage below:<p>

<p>The <b>Workspace</b> tab gives a list of all the objects currently in use in the global environment.</p>

<img src="screenshots/workspaceTab.png">

<p style="padding-top: 20px;padding-bottom: 10px;">The <b>History</b> tab gives a list of all the commands that have been run in the current session.</p>

<img src="screenshots/historyTab.png">

<p style="padding-top: 20px;padding-bottom: 10px;">The <b>Git</b> or <b>SVN</b> tab gives you an interface into version management software. We won't cover it in this course, but I suggest you google it.</p>

<img src="screenshots/gitTab.png">

<h2 style="padding-top: 50px;">Workspace, History, Git</h2>

<p>The bottom right window, in addition to storing all of our previous plots (unlike the basic R environment which stores just one!), adds additional features.</p>

<p style="padding-top: 20px;padding-bottom: 10px;">The <b>Files</b>tab shows us all the files in teh current Project.</p>

<img src="screenshots/filesTab.png">

<p style="padding-top: 20px;padding-bottom: 10px;">The <b>Packages</b> tab shows all the packages currently installed, and loaded. It allows us to load packages graphically.</p>

<img src="screenshots/packageTab.png">

<p style="padding-top: 20px;padding-bottom: 10px;">The <b>Help</b> tab displays any help info called by running a command with a <tt>?</tt> in front of it, e.g. <tt>?plot</tt>.</p>

<img src="screenshots/helpTab.png">

<p>That was an extremely quick intro to RStudio. It's a simple program to use, you'll learn as you go along - better to start coding!</p>


<br><hr class="ex1"><br>

<table align="center" width="80%">
<tr>
<td class="next"><a href="R_environment.html">Previous</a></td>
<td class="next"><a href="index.html">Course Overview</a></td>
<td class="next"><a href="installing_R_packages.html">Next</a></td>
</tr>
</table>

</body>

</html>
