<html>

<head>
<title>Getting Started with R - Course Outline</title>
<link rel="stylesheet" type="text/css" href="stylesheet.css">

</head>

<body>

<table align="center" width="80%">
<tr>
<td class="next"><p>Previous</p></td>
<td class="next"><p>Course Overview</p></td>
<td class="next"><a href="R_environment.html">Next</a></td>
</tr>
</table>

<br><hr class="ex1"><br>

<h1>Getting started with R</h1>

<p>This course is designed to give you a brief introduction to the statistical programming environment R. <b>This is not a course on which statistics to use and why</b>, it is primarily concerned with getting you started with the R language, and as such assumes a basic levels of statistical knowledge.</p>

<p>That said, some of the examples of statistical tests and models are derived from examples in Mick Crawley's seminal text 'The R Book' - hence more detail is available there. There are two copies of this text in the library, and it is available in <a href="https://unicorn.dmz.cranfield.ac.uk/uhtbin/cgisirsi/?ps=UKq22B28cB/CRANFIELD/175830315/2/1000">eBook format</a>. Note, I refer exclusively to the first edition of 'The R Book' - the one with the blue cover!</p>

<h2>Course materials</h2>

<p id="p2">All the course materials are available here. In addition you will need to download data from the internet for certain exercises, but this will be explained to you in the appropriate section.</a>.

<p>Additional help can be accessed by joining the <a href="https://mailman.cranfield.ac.uk/mailman/listinfo/cranfield-r">Cranfield R mailing list</a> (you will need to do this from a computer which is physically on the campus network). The list allows you to email your specific queries to a group of R users, who will be able to help you with your query. More on getting help below...</p>

<h2>Structure</h2>

<p>The course is divided as follows:</p>

<ul>
<li>Getting started</li>
     <ul>
     <!--<li><a href="R_environment.html">The R environment</a></li>//-->
     <li><a href="RStudio.html">R Studio</a></li>
     <li><a href="r_style_guide.html">R style</a></li>
     <li><a href="installing_R_packages.html">Installing R packages</a></li>
     </ul>
<li>Moving data around</li>  
     <ul>
     <li><a href="getting_data_into_R.html">Getting data into R</a></li>
     <li><a href="selecting_data.html">Selecting Data</a></li>
     <li><a href="data_structures.html">Data structures and types</a></li>
     </ul>
<li>Visualising your data</li>
     <ul>
     <li><a href="scatterplots.html">Scatter-plots</a></li>
     <li><a href="histograms.html">Histograms and Box-and-whisker plots</a></li>
     <!--<li><a href="the_par_command.html">The 'par' command</a></li>//-->
     <li><a href="multiple_plots.html">Multiple plots</a></li>
     </ul>
<li>Basic data analysis</li>
     <ul>
     <li><a href="scatterplots.html">T-test</a></li>
     <li><a href="regression.html">Linear regression</a></li>
     <li><a href="ANOVA.html">ANOVA</a></li> <!--# See NPK!//-->
     </ul>
<li>More advanced stuff...</li>
     <ul>
     <li><a href="writing_functions.html">Writing functions</a></li>
     </ul>
</ul> 

<p>As you go along, You will be able to copy and paste the code from these notes directly into the <tt>R</tt> console., but do try to understand what it is you are doing!</p> 

<p> In addition there are a number of exercises throughout. These are indicated by a box:</p>

<div class="ex">

<h3>Exercise</h3>

<p>This is an example...</p>

</div>

<p>It is fairly unlikely that you will finish all the exercises in the allotted two hours. However, the course material can be completed in your own time, whilst questions relating to the course can be emailed to the Cranfield R list: <a href="https://mailman.cranfield.ac.uk/mailman/listinfo/cranfield-r">https://mailman.cranfield.ac.uk/mailman/listinfo/cranfield-r</a>.</p>

<h3>Navigating the course</h3>

<p>You'll find links to the course overview, the next, and the previous page of the course at the top and bottom of each page.</p>

<h2>Getting help after the course</h2>

<p>Getting help with R is very easy - there is a thriving online community of R users who, so the chances are that if you have a problem, someone else will have posted a solution online before you.</p>

<h3>Within R</h3>

<p>It is possible to get help in R itself. If you are interested in a function, you can simply type the name of that function into the console preceded by a question mark. This will bring up the relevant help file - although they are not always that easy to decipher!</p>

<h3>Online guides</h3>

<p>There are also many online guides available - googling 'R guide' will reveal many, but three are listed below:</p>

<ul>
<li><a href="http://www.rstudio.com/ide/docs/help_with_r
">http://www.rstudio.com/ide/docs/help_with_r
</a></li>
<li><a href="http://cran.r-project.org/doc/contrib/Owen-TheRGuide.pdf
">http://cran.r-project.org/doc/contrib/Owen-TheRGuide.pdf
</a></li>
<li><a href="https://sites.google.com/site/undergraduateguidetor/
">https://sites.google.com/site/undergraduateguidetor/
</a></li>
</ul>

<h3>Forums</h3>

<p>Forums are a great place for R help - again try googling this, although one of the most well known is: <a href="http://stats.stackexchange.com/
">http://stats.stackexchange.com/
</a>. Just make sure you read the rules of the forum carefully, as contributors often don't take kindly to poorly stated questions!</p>

<h3>Mailing lists</h3>

<p>Mailing lists are perhaps the most important way of getting help with R, as they allow you to get in touch with the creator of the respective packages that you are using. Google the name of the package you want help with along with 'mailing list', and you will usually find results.</p>

<p>There is also a generic mailing list for R (<a href="http://www.r-project.org/mail.html
">http://www.r-project.org/mail.html</a>).</p>

<h3>And most importantly...</h3>

<p>If you haven't got the message yet... <em>Cranfield has its own R mailing list!</em> To join the Cranfield R mailing list (which you can only do while you are on campus) visit <a href="https://mailman.cranfield.ac.uk/mailman/listinfo/cranfield-r
">https://mailman.cranfield.ac.uk/mailman/listinfo/cranfield-r
</a> and follow the instructions.</p>

<!--http://www.bio.ic.ac.uk/research/mjcraw/therbook/data/-->

<br><br>
<hr>

<p id="footnote-1">[1] This is beyond the scope of the short course you are doing, but if you have questions about combining R script with html or into word or LaTeX documents like a thesis or paper, please ask. <a href="#p2">Return to paragraph</a></p>

<br><hr class="ex1"><br>

<table align="center" width="80%">
<tr>
<td class="next"><p>Previous</p></td>
<td class="next"><p>Course Overview</p></td>
<td class="next"><a href="R_environment.html">Next</a></td>
</tr>
</table>

</body>

</html>
