<html>

<head>
<title>Getting Started with R - R-base graphics</title>
<link rel="stylesheet" type="text/css" href="stylesheet.css">

</head>

<body>

<h1>R-base graphics</h1>

<p>R-base is the basic set of functions that come with R as standard - before you start to download any additional packages. The graphics functions included in R-base are simple, but also highly customisable, and capable of producing high standard, publication quality graphics.</p>

<p>There are other graphics packages which offer more advanced graphical functions like the excellent <b>ggplot2</b>, these will not be covered in this course.</p>


<a href="scatterplots.html"><h2>On to scatterplots....</h2></a>

</body>

</html>
